$main_color-dark: #3d3d3d;
$second_color-dark: #000;
$text_color-dark: #fff;
$accent_color-dark: #0b18a1;
$buttons-dark: #675cff;

$main_color: #dad9d9;
$second_color: #fff;
$text_color: #000;
$accent_color: #000faa;
$buttons: #675cff;
